<h1>Search For A Concert</h1>

<form method="get" action="/search/results">
  <label for="Zip">Zip Code</label>
  <input type="text" name="zip_code" value="zip code(mi)">
  <label for="Radius">Radius</label>
  <input type="text" name="radius" value="radius">
  <input type="text" name="start_date" value="yyyy-mm-dd">
  <input type="text" name="end_date" value="yyyy-mm-dd">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Go!">
</form>
