<h1> Concerts Matching Your Search Criteria </h1>




<p>
  <% @results.each do |event| %>
    <%= event.title %></br>
    <%= event.date %></br>
    <%= event.venue.name %></br><br>
  <% end %>


</p>


