<h1>Welcome To JamOut</h1>

<nav>
<div id="main">
<% if logged_in? %>
  <div class="menu">
  <p>
    <a href="/logout"> Logout</a>
  </p>
    <a href="/search/new">Search For A Concert!</a>
  <p>
    <a href="/tickets">My Events</a>
  </p>
</div>
<% else %>
  <div id="login">
  <p>
    <a href="/users/new">Sign Up</a>
  </p>
  <p>
    <a href="/session/new">Login</a>
  </p>
</div>
<% end %>
</div>
</nav>
