<h1>Welcome To JamOut</h1>

<% if logged_in? %>
  <p>
    <a href="/logout"> Logout</a>
  </p>
  <p>
    <a href="/users/<%=current_user.id %>">My Account Page</a>
  </p>
  <p>
    <a href="/events">"Search For A Concert!"</a>
<% else %>
  <p>
    <a href="/users/new">Sign Up</a>
  </p>
  <p>
    <a href="/session/new">Login</a>
  </p>
<% end %>

