<h1>Welcome To JamOut</h1>

<% if logged_in? %>
  <p>
    <a href="/logout"> Logout</a>
  </p>
    <a href="/search/new">"Search For A Concert!"</a>
  <p>
    <a href="/tickets">"Display My Events"</a>
  </p>
<% else %>
  <p>
    <a href="/users/new">Sign Up</a>
  </p>
  <p>
    <a href="/session/new">Login</a>
  </p>
<% end %>

