<!DOCTYPE html>
<html>
<head>
  <title>JamOutApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <style>
  body {
    padding-left: 50px;
    background-image: url("http://www.paulunderhill.com/wp-content/uploads/2013/05/Music-event-photographer.jpg");
    background-size: cover;
  }

  #main {
    background-color: black;
    width: 250px;
  }
    a {
      text-decoration: none;
      color: aqua;
    }

    h1 {
      color: silver;
    }

  </style>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
